version: '2'

services:
  nextcloud_db:
    image: mariadb
    container_name: nextcloud_db
    restart: always
    volumes:
      - nextcloud_db:/var/lib/mysql
    networks:
      - nextcloud
    environment:
      - MYSQL_ROOT_PASSWORD=test
      - MYSQL_PASSWORD=test
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
  
#  collabora:
#    image: collabora/code:3.0.1.4
#    container_name: collabora
#    environment:
#      domain: collabora
#    ports:
#      - 9980:9980
#    restart: always
  
  onlyoffice:
    image: onlyoffice/documentserver
    container_name: onlyoffice
    ports:
      - 82:80
    networks:
      - nextcloud
    links:
      - nextcloud
    volumes:
      - onlyoffice_log:/var/log/onlyoffice
      - onlyoffice_lib:/var/lib/onlyoffice
      - onlyoffice_sql:/var/lib/postgresql
      - onlyoffice_data:/var/www/onlyoffice/Data
      - onlyoffice_fonts:/usr/share/fonts/truetype/custom
    restart: always
  
  nextcloud_fpm:
    #image: nextcloud:14-fpm
    build: fpm/
    container_name: nextcloud_fpm
    links:
      - nextcloud_db
      - onlyoffice
    volumes:
      - nextcloud_html:/var/www/html
    restart: always
    environment:
      - NEXTCLOUD_ADMIN_USER=admin
      - NEXTCLOUD_ADMIN_PASSWORD=test
      - NEXTCLOUD_DATA_DIR=/var/www/html/data
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_PASSWORD=test
      - MYSQL_HOST=nextcloud_db
    networks:
      - nextcloud
  
  nextcloud:
    build: nginx/
    container_name: nextcloud
    ports:
      - 86:80
    links:
      - nextcloud_fpm
      - onlyoffice
    volumes:
      - nextcloud_html:/var/www/html
    restart: always
    networks:
      - nextcloud

volumes:
  nextcloud_db:
  nextcloud_html:
  onlyoffice_log:
  onlyoffice_lib:
  onlyoffice_sql:
  onlyoffice_data:
  onlyoffice_fonts:

networks:
#  default:
#    external:
#      name: philleconnect_network
  nextcloud:
